<ion-content>
  <form (ngSubmit)="createBlog()">
    
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="newsItem.category"  name="category">
        <ion-select-option value="news">News</ion-select-option>
        <ion-select-option value="entertainment">Entertainment</ion-select-option>
        <ion-select-option value="sport">Sport</ion-select-option>
      </ion-select>
    </ion-item>
    <item>
      <ion-button (click)="takePicture()">Take Picture</ion-button>

      <ion-img [src]=""></ion-img>

    </item>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input name="title" [(ngModel)]="newsItem.title" placeholder="Enter title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="newsItem.description" name="description" placeholder="Enter description"></ion-textarea>
  </ion-item>


  <ion-button type="submit"  expand="block"  >Post Article</ion-button>
  <ion-item>
    <ion-button (click)="createD()">Save</ion-button>
  </ion-item>
  </form>

 



</ion-content>
