
ion-header {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #ff0004; 
  padding: 8px;            
}

ion-content {
  padding: 8px;            
  background-color: whitesmoke; 
}

ion-item {
  color: red;              
  font-weight: 800;       
  font-style: italic;     
  cursor: pointer;        
  margin: 4px 0;          
}

/* Card Styles */
ion-card {
  height: 300px;          
  padding: 10px;         
  margin: 8px 0;         
  border-radius: 8px;   
  border: 1px solid gray; 
  background-color: whitesmoke; 
  overflow: hidden;     
}

ion-label, p {
  margin-top: 5px;       
}

ion-text {
  color: #ff0004;        
  display: inline-block;
  max-width: 80%;        
  white-space: nowrap;   
  overflow: hidden;      
  text-overflow: ellipsis; 
  font-size: smaller;    
}


ion-thumbnail {
  display: block;
  width: 100%;            
  height: auto;          
}

ion-img {
  width: 100%;            
  height: auto;          
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

/* Media Queries for Responsiveness */

/* For devices smaller than 768px */
@media (max-width: 767px) {
  ion-card {
    height: auto;         
    padding: 8px;         
  }

  ion-thumbnail, ion-img {
    width: 100%;          
    height: auto;        
  }
  ion-item {
    font-size: 14px;      
    margin: 2px 0;       
  }

  ion-text {
    font-size: 14px;      
    max-width: 100%;      
  }
}

/* For devices larger than 768px and up to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  ion-card {
    height: 250px;       
  }

  ion-item {
    font-size: 16px;     
  }

  ion-text {
    font-size: 16px;      
  }
}

/* For devices larger than 1024px */
@media (min-width: 1024px) {
  ion-card {
    height: 600px;        
  }

  ion-item {
    font-size: 18px;      
  }

  ion-text {
    font-size: 18px;      
  }
}
